*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    perspective: 1000px; /*원근감 설정*/
}

.flip-btn{
    width: 200px;
    height: 100px;
    color: white;
    text-align: center;
    line-height: 100px;
    transform-style: preserve-3d;/*3d로 배치*/
    transition: .5s;/*0.5초에 걸쳐서 보여짐*/
    cursor: pointer;
}

.flip-btn:hover{
    transform: rotateX(-50deg);/*회전*/
}

.front{
    background-color: goldenrod;
    height: 100px;
    transform: translateZ(50px);/*축 방향으로 이동*/
}

.back{
    background-color: darkgoldenrod;
    height: 100px;
    transform: rotateX(90deg) translateZ(150px); /*회전시키면 축의 방향이 바뀜*/
}